body{
    background-color: rgb(124, 114, 114);
}
#wrapper{
 background-image: url("clock2.jpg");
    height: 500px;
    width: 1020px;
    margin: 20px auto;
    margin-top: 100px;
    background-blend-mode: screen;
}
#innerdiv{
    height: 200px;
    width: 550px;
    background-color: rgb(20, 18, 18);
    margin: 100px auto;
    text-align: center;

}
h2{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}
.button{
}
p{
    padding-top: 60px;
  font-size: 40px;
    font-weight: bolder;
    color: seashell;
    
}
.button:hover{
    text-shadow: darkslategrey;
    color: rosybrown;
    font-weight: bold;
    font-family: sans-serif;
}